@import './variables.scss';
.item {
    height: 47px;
    padding: 13px 17px;
    background: $bg_color_klava_black;
    color: $color_white;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
}
  
.item:hover {
    background:$bg_hover;
}

.tab{
    width: 78px;
}

.caps-lock {
    position: relative;
    width: 90px;    
}

.caps-lock::before {
    position: absolute;
    top: 8px;
    left:9px;
    content: '';
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: $bg_color_red;
}

.shift-left {
    width: 105px;
    display: flex;
}

.command {
    padding-bottom: 12px;
    width: 65px;
    justify-content: center;
    align-items: end;
}

.return {
    width: 80px;
    justify-content: end;
}

.shift-right {
    width: 105px;
    display: flex;
    justify-content: right;
}

.str-key {
    height: calc(47/2)+px;
    width: 30px;
    padding: 0;
    font-size: 0.7rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-key {
    font-size: 0.7rem;
    padding: 13px 10px 6px 10px;
    display: flex;
    align-items:center;
}

.probel {
    width: 250px;
    height: 47px;
}  

.item.lock {
    display: flex;
    justify-content: center;
}

.lock {
    width: 42px;
}

.shift-rule {
    width: 42px;
}